*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: beige;
}
#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(200, 200, 200);
    padding: 0 300px;
    height: 6vh;
    font-size: 18px;
}
#nav select{
    padding: 5px 15px;
    outline: 0;
    border-radius: 10px;
}
#nav input{
    padding: 5px 15px;
    width: 300px;
    border-radius: 10px;
    outline: 0;
}
#button{
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#button button{
    padding: 5px 15px;
    outline: 0;
    cursor: pointer;
    border-radius: 20px;
    font-size: 15px;
}
#button button:hover{
    color: beige;
    background-color: maroon;
}
#container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 90%;
    margin: auto;
    gap: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#container div{
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid rgb(193, 193, 193);
    gap: 10px;
    border-radius: 20px;
    font-size: 18px;
    padding: 10px;
}
#container div:hover{
    cursor: pointer;
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#container div img{ 
    width: 100%;
    height: auto;
    max-width: 300px;
    object-fit: contain;
}
#message{
    text-align: center;
    width: 90vw;
    margin-top: 20vh;
}